# Application
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/molido_ai?schema=public"

# JWT
JWT_SECRET=molido_ai_super_secret_key
JWT_EXPIRES_IN=7d

# AI
OPENAI_API_KEY=

# CORS
CORS_ORIGIN=http://localhost:3001

# Refresh Token
JWT_REFRESH_SECRET=molido_ai_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=30d

# SMS (Kavenegar)
SMS_API_KEY=
SMS_SENDER=10008663

# n8n Automation
N8N_WEBHOOK_SECRET=molido_n8n_secret
N8N_BASE_URL=http://localhost:5678
